*{
    margin: 0;
    padding: 0;
    color: white;
}
#dark_nav_bar{
    width: 100%;
    height: 65px;
    background-color: #29082c;

}
#dark_nav_inner_bar{
width: 100%;
height: 70px;
display: flex;
align-items: center;
}

#logo_container{
    height: 60px;
    width: 100px;
    background-color: #29082c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}   
#stockify_icon,#dashboard_icon,#WathcList_icon,#Portfolio_icon,#NewsPaper_icon,#profile_icon{
    color: #7D82B8;
    /* color: rgb(109, 207, 109); */
    cursor: pointer;
}
#middle_nav_bar_container{
    height: 80px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
#dashboard_container{
    height: 60px;
    width: 100px;
    background-color: #29082c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* position: absolute; */
}

/* #dashboard_icon{
    color:rgb(109, 207, 109);
} */
#WatchList_container{
    height: 60px;
    width: 100px;
    background-color: #29082c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

{
    color:rgb(109, 207, 109);
}
#Portfolio_container{
    height: 60px;
    width: 100px;
    background-color: #29082c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
}
{
color:rgb(109, 207, 109);
}
#NewsPaper_container{
    height: 60px;
    width: 100px;
    background-color: #29082c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

{
    color:rgb(109, 207, 109);
}
#right_side_inner_nav_bar{
   margin-left: auto;
   display: flex;
   align-items: center;
   gap: 20px;
}
#search_bar_container{
    height: 60px;
    width: 400px;
    background-color: #29082c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.input_feild_nav_bar{
    margin-left: auto;
    width: 400px;
    height:40px;
    padding: 12px 6px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 50px;
}
.input_feild_nav_bar::placeholder{
    color: #29082c;
    opacity: 1;
}
.input_feild_nav_bar:focus{
    color: #29082c;
}
#profile_icon_container{
    height: 60px;
    width: 100px;
    background-color: #29082c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
#profile_icon{
    font-size: 35px;

}